In [ ]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression          #used for linear regression model
from sklearn.model_selection import train_test_split       #used for splitting dataset into training and testing df

In [ ]:
df=pd.read_csv('/content/energydata_complete.csv')

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.200000,41.626667,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.200000,41.560000,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.200000,41.433333,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,6.433333,83.423333,17.133333,41.290000,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,6.366667,84.893333,17.200000,41.230000,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [ ]:
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,19.592106,50.949283,7.910939,54.609083,20.267106,35.388200,22.029107,42.936165,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,1.844623,9.022034,6.090347,31.149806,2.109993,5.114208,1.956162,5.224361,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,15.330000,29.815000,-6.065000,1.000000,15.390000,23.200000,16.306667,29.600000,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,18.277500,45.400000,3.626667,30.025000,18.700000,31.500000,20.790000,39.066667,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,19.390000,49.090000,7.300000,55.290000,20.033333,34.863333,22.100000,42.375000,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,20.619643,53.663333,11.256000,83.226667,21.600000,39.000000,23.390000,46.536000,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,25.795000,96.321667,28.290000,99.900000,26.000000,51.400000,27.230000,58.780000,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [ ]:
df.nunique()

date           19735
Appliances        92
lights             8
T1               722
RH_1            2547
T2              1650
RH_2            3376
T3              1426
RH_3            2618
T4              1390
RH_4            2987
T5              2263
RH_5            7571
T6              4446
RH_6            9709
T7              1955
RH_7            5891
T8              2228
RH_8            6649
T9               924
RH_9            3388
T_out           1730
Press_mm_hg     2189
RH_out           566
Windspeed        189
Visibility       413
Tdewpoint       1409
rv1            19735
rv2            19735
dtype: int64

In [ ]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [ ]:
df.set_index('date', inplace=True)

In [ ]:
# Counting values of the "lights" column:

for i in df.columns.tolist():
  print('value counts' ,i, "is",df[i].value_counts(normalize=True))

value counts Appliances is Appliances
50      0.221333
60      0.166304
40      0.102306
70      0.079047
80      0.061059
          ...
890     0.000051
1070    0.000051
910     0.000051
1080    0.000051
840     0.000051
Name: proportion, Length: 92, dtype: float64
value counts lights is lights
0     0.772840
10    0.112085
20    0.082290
30    0.028325
40    0.003902
50    0.000456
70    0.000051
60    0.000051
Name: proportion, dtype: float64
value counts T1 is T1
21.000000    0.026045
21.390000    0.024525
21.200000    0.024373
21.500000    0.023207
21.290000    0.023055
               ...
20.460000    0.000051
20.745000    0.000051
22.917500    0.000051
22.226667    0.000051
23.611688    0.000051
Name: proportion, Length: 722, dtype: float64
value counts RH_1 is RH_1
39.090000    0.007702
39.400000    0.007297
37.700000    0.007145
37.200000    0.007094
38.290000    0.007043
               ...
39.063333    0.000051
35.167500    0.000051
36.317500    0.000051
37.745000    0.000051
46.600000    0.000051
Name: proportion, Length: 2547, dtype: float64
value counts T2 is T2
19.200000    0.016772
19.600000    0.016468
19.500000    0.016114
19.700000    0.015860
19.290000    0.015252
               ...
25.332857    0.000051
25.225714    0.000051
25.071429    0.000051
24.905714    0.000051
25.628571    0.000051
Name: proportion, Length: 1650, dtype: float64
value counts RH_2 is RH_2
40.000000    0.006841
41.500000    0.006283
43.700000    0.005574
41.290000    0.005523
43.900000    0.005473
               ...
42.350000    0.000051
36.670000    0.000051
36.393333    0.000051
33.556667    0.000051
42.768571    0.000051
Name: proportion, Length: 3376, dtype: float64
value counts T3 is T3
22.390000    0.021941
22.100000    0.018850
21.790000    0.018698
22.600000    0.017127
20.200000    0.016671
               ...
22.233750    0.000051
22.628571    0.000051
22.777143    0.000051
22.873333    0.000051
27.050000    0.000051
Name: proportion, Length: 1426, dtype: float64
value counts RH_3 is RH_3
37.590000    0.012313
37.500000    0.010388
38.290000    0.010084
37.200000    0.009982
37.900000    0.009526
               ...
39.540000    0.000051
39.337143    0.000051
39.378000    0.000051
39.228571    0.000051
41.690000    0.000051
Name: proportion, Length: 2618, dtype: float64
value counts T4 is T4
20.390000    0.017634
20.290000    0.017482
20.600000    0.017076
20.100000    0.016975
19.790000    0.016874
               ...
23.277143    0.000051
23.332857    0.000051
23.330000    0.000051
23.236000    0.000051
21.468571    0.000051
Name: proportion, Length: 1390, dtype: float64
value counts RH_4 is RH_4
38.590000    0.008563
38.200000    0.008411
34.790000    0.007398
38.090000    0.007347
38.290000    0.007094
               ...
37.300000    0.000051
38.330000    0.000051
36.245000    0.000051
39.956667    0.000051
45.333333    0.000051
Name: proportion, Length: 2987, dtype: float64
value counts T5 is T5
18.600000    0.019508
18.700000    0.018900
19.290000    0.018748
20.000000    0.018292
18.500000    0.018090
               ...
18.972500    0.000051
19.057143    0.000051
19.142857    0.000051
19.361429    0.000051
22.945000    0.000051
Name: proportion, Length: 2263, dtype: float64
value counts RH_5 is RH_5
49.000000    0.004510
45.000000    0.004104
46.700000    0.003952
47.500000    0.003851
45.900000    0.003800
               ...
56.780556    0.000051
57.170000    0.000051
57.460000    0.000051
57.891111    0.000051
52.645000    0.000051
Name: proportion, Length: 7571, dtype: float64
value counts T6 is T6
6.400000     0.004358
5.590000     0.004256
9.600000     0.003952
9.100000     0.003952
6.300000     0.003851
               ...
10.333333    0.000051
6.850000     0.000051
8.230000     0.000051
8.472500     0.000051
21.026667    0.000051
Name: proportion, Length: 4446, dtype: float64
value counts RH_6 is RH_6
1.000000     0.073575
99.900000    0.038054
92.300000    0.002686
92.190000    0.001926
87.690000    0.001469
               ...
23.763333    0.000051
97.293333    0.000051
29.366667    0.000051
36.056667    0.000051
1.696667     0.000051
Name: proportion, Length: 9709, dtype: float64
value counts T7 is T7
18.500000    0.022954
19.200000    0.022802
19.290000    0.017482
19.000000    0.015303
18.390000    0.015049
               ...
19.057143    0.000051
19.112500    0.000051
19.085714    0.000051
19.037500    0.000051
24.310000    0.000051
Name: proportion, Length: 1955, dtype: float64
value counts RH_7 is RH_7
33.900000    0.006638
33.590000    0.005979
33.700000    0.005270
30.200000    0.004560
36.290000    0.004358
               ...
39.687778    0.000051
31.392857    0.000051
39.596111    0.000051
39.520000    0.000051
44.295714    0.000051
Name: proportion, Length: 5891, dtype: float64
value counts T8 is T8
22.790000    0.019559
21.790000    0.015252
22.700000    0.014644
23.390000    0.013985
21.390000    0.013935
               ...
23.012500    0.000051
22.903750    0.000051
22.914444    0.000051
22.845556    0.000051
24.662500    0.000051
Name: proportion, Length: 2228, dtype: float64
value counts RH_8 is RH_8
39.500000    0.004814
39.290000    0.004054
39.590000    0.003395
39.200000    0.003294
43.700000    0.003192
               ...
47.275556    0.000051
47.405556    0.000051
47.488889    0.000051
47.575000    0.000051
49.518750    0.000051
Name: proportion, Length: 6649, dtype: float64
value counts T9 is T9
20.500000    0.024677
18.200000    0.024120
20.290000    0.022751
19.600000    0.022447
18.000000    0.021383
               ...
19.956000    0.000051
19.984286    0.000051
19.934000    0.000051
19.921429    0.000051
22.356667    0.000051
Name: proportion, Length: 924, dtype: float64
value counts RH_9 is RH_9
39.2000    0.008361
39.7900    0.008057
39.7000    0.007499
38.5000    0.006891
37.7000    0.006435
             ...
44.8900    0.000051
43.4475    0.000051
45.5950    0.000051
46.1600    0.000051
46.8450    0.000051
Name: proportion, Length: 3388, dtype: float64
value counts T_out is T_out
 9.800000     0.006030
 9.600000     0.005422
 5.000000     0.005320
 10.100000    0.005320
 5.500000     0.004864
                ...
 14.783333    0.000051
 15.116667    0.000051
 18.566667    0.000051
-3.366667     0.000051
 22.133333    0.000051
Name: proportion, Length: 1730, dtype: float64
value counts Press_mm_hg is Press_mm_hg
757.300000    0.007195
756.200000    0.005574
764.500000    0.004966
756.600000    0.004915
752.800000    0.004814
                ...
736.000000    0.000051
735.566667    0.000051
733.833333    0.000051
730.716667    0.000051
757.275000    0.000051
Name: proportion, Length: 2189, dtype: float64
value counts RH_out is RH_out
95.000000    0.023816
92.000000    0.017330
88.000000    0.017279
91.000000    0.016823
93.000000    0.016114
               ...
72.583333    0.000051
70.416667    0.000051
66.083333    0.000051
73.916667    0.000051
99.083333    0.000051
Name: proportion, Length: 566, dtype: float64
value counts Windspeed is Windspeed
1.000000    0.108082
2.000000    0.101697
3.000000    0.086496
4.000000    0.080770
5.000000    0.054928
              ...
4.857143    0.000051
5.142857    0.000051
5.285714    0.000051
5.428571    0.000051
1.083333    0.000051
Name: proportion, Length: 189, dtype: float64
value counts Visibility is Visibility
40.000000    0.366050
29.000000    0.022751
36.333333    0.013023
23.000000    0.012516
28.000000    0.012414
               ...
1.166667     0.000051
7.666667     0.000051
14.166667    0.000051
11.666667    0.000051
45.833333    0.000051
Name: proportion, Length: 413, dtype: float64
value counts Tdewpoint is Tdewpoint
0.000000     0.006233
1.400000     0.005574
2.100000     0.005473
2.900000     0.004966
2.000000     0.004814
               ...
5.772222     0.000051
5.677778     0.000051
5.488889     0.000051
5.394444     0.000051
11.516667    0.000051
Name: proportion, Length: 1409, dtype: float64
value counts rv1 is rv1
13.275433    0.000051
46.695186    0.000051
21.138136    0.000051
15.257452    0.000051
12.635949    0.000051
               ...
13.482677    0.000051
49.041706    0.000051
30.824058    0.000051
20.245405    0.000051
34.118851    0.000051
Name: proportion, Length: 19735, dtype: float64
value counts rv2 is rv2
13.275433    0.000051
46.695186    0.000051
21.138136    0.000051
15.257452    0.000051
12.635949    0.000051
               ...
13.482677    0.000051
49.041706    0.000051
30.824058    0.000051
20.245405    0.000051
34.118851    0.000051
Name: proportion, Length: 19735, dtype: float64

In [ ]:
df.drop(columns='lights',axis=1)

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
date,,,,,,,,,,,,,,,,,,,,,,,,,,,
2016-01-11 17:00:00,60,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,55.200000,7.026667,84.256667,17.200000,41.626667,18.2000,48.900000,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
2016-01-11 17:10:00,60,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,55.200000,6.833333,84.063333,17.200000,41.560000,18.2000,48.863333,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2016-01-11 17:20:00,50,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,55.090000,6.560000,83.156667,17.200000,41.433333,18.2000,48.730000,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
2016-01-11 17:30:00,50,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,55.090000,6.433333,83.423333,17.133333,41.290000,18.1000,48.590000,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
2016-01-11 17:40:00,60,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,55.090000,6.366667,84.893333,17.200000,41.230000,18.1000,48.590000,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-05-27 17:20:00,100,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,52.400000,24.796667,1.000000,24.500000,44.500000,24.7000,50.074000,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
2016-05-27 17:30:00,90,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,52.326667,24.196667,1.000000,24.557143,44.414286,24.7000,49.790000,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
2016-05-27 17:40:00,270,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,52.266667,23.626667,1.000000,24.540000,44.400000,24.7000,49.660000,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
2016-05-27 17:50:00,420,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,52.200000,22.433333,1.000000,24.500000,44.295714,24.6625,49.518750,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
2016-05-27 18:00:00,430,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,52.200000,21.026667,1.000000,24.500000,44.054000,24.7360,49.736000,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [ ]:
 # Checking Unique Values count for each variable.
for i in df.columns.tolist():
  print("The unique values in",i, "is",df[i].nunique(),".")

The unique values in Appliances is 92 .
The unique values in lights is 8 .
The unique values in T1 is 722 .
The unique values in RH_1 is 2547 .
The unique values in T2 is 1650 .
The unique values in RH_2 is 3376 .
The unique values in T3 is 1426 .
The unique values in RH_3 is 2618 .
The unique values in T4 is 1390 .
The unique values in RH_4 is 2987 .
The unique values in T5 is 2263 .
The unique values in RH_5 is 7571 .
The unique values in T6 is 4446 .
The unique values in RH_6 is 9709 .
The unique values in T7 is 1955 .
The unique values in RH_7 is 5891 .
The unique values in T8 is 2228 .
The unique values in RH_8 is 6649 .
The unique values in T9 is 924 .
The unique values in RH_9 is 3388 .
The unique values in T_out is 1730 .
The unique values in Press_mm_hg is 2189 .
The unique values in RH_out is 566 .
The unique values in Windspeed is 189 .
The unique values in Visibility is 413 .
The unique values in Tdewpoint is 1409 .
The unique values in rv1 is 19735 .
The unique values in rv2 is 19735 .

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [ ]:
scaler.fit(df)

MinMaxScaler()

In [ ]:
# Transform the DataFrame using the fitted scaler
scaled_data = scaler.transform(df)

# Convert the scaled data back to a DataFrame
scaled_df = pd.DataFrame(scaled_data, columns=df.columns)

print(scaled_df)

       Appliances    lights        T1      RH_1        T2      RH_2        T3  \
0        0.046729  0.428571  0.327350  0.566187  0.225345  0.684038  0.215188
1        0.046729  0.428571  0.327350  0.541326  0.225345  0.682140  0.215188
2        0.037383  0.428571  0.327350  0.530502  0.225345  0.679445  0.215188
3        0.037383  0.571429  0.327350  0.524080  0.225345  0.678414  0.215188
4        0.046729  0.571429  0.327350  0.531419  0.225345  0.676727  0.215188
...           ...       ...       ...       ...       ...       ...       ...
19730    0.084112  0.000000  0.926786  0.537657  0.711655  0.606309  0.830841
19731    0.074766  0.000000  0.919747  0.536006  0.701769  0.607836  0.825302
19732    0.242991  0.142857  0.919747  0.538666  0.692651  0.627198  0.818378
19733    0.383178  0.142857  0.919747  0.549491  0.677054  0.634717  0.805085
19734    0.392523  0.142857  0.919747  0.538758  0.666171  0.632902  0.799546

           RH_3        T4      RH_4        T5      RH_5        T6      RH_6  \
0      0.746066  0.351351  0.764262  0.175506  0.381691  0.381070  0.841827
1      0.748871  0.351351  0.782437  0.175506  0.381691  0.375443  0.839872
2      0.755569  0.344745  0.778062  0.175506  0.380037  0.367487  0.830704
3      0.758685  0.341441  0.770949  0.175506  0.380037  0.363800  0.833401
4      0.758685  0.341441  0.762697  0.178691  0.380037  0.361859  0.848264
...         ...       ...       ...       ...       ...       ...       ...
19730  0.579374  0.864865  0.765258  0.752031  0.339590  0.898317  0.000000
19731  0.582178  0.864865  0.765258  0.754897  0.338487  0.880852  0.000000
19732  0.603988  0.864865  0.771233  0.754897  0.337585  0.864260  0.000000
19733  0.585294  0.864865  0.773794  0.752031  0.336583  0.829525  0.000000
19734  0.579062  0.864865  0.781192  0.752031  0.336583  0.788580  0.000000

             T7      RH_7        T8      RH_8        T9      RH_9     T_out  \
0      0.170594  0.653428  0.173329  0.661412  0.223032  0.677290  0.372990
1      0.170594  0.651064  0.173329  0.660155  0.226500  0.678532  0.369239
2      0.170594  0.646572  0.173329  0.655586  0.219563  0.676049  0.365488
3      0.164310  0.641489  0.164175  0.650788  0.219563  0.671909  0.361736
4      0.170594  0.639362  0.164175  0.650788  0.219563  0.671909  0.357985
...         ...       ...       ...       ...       ...       ...       ...
19730  0.858624  0.755319  0.768386  0.701645  0.864724  0.729443  0.891747
19731  0.864010  0.752280  0.768386  0.691912  0.864724  0.729443  0.887460
19732  0.862394  0.751773  0.768386  0.687457  0.864724  0.729443  0.883173
19733  0.858624  0.748075  0.764953  0.682617  0.864724  0.730581  0.878885
19734  0.858624  0.739504  0.771681  0.690062  0.864724  0.731719  0.874598

       Press_mm_hg    RH_out  Windspeed  Visibility  Tdewpoint       rv1  \
0         0.097674  0.894737   0.500000    0.953846   0.538462  0.265449
1         0.100000  0.894737   0.476190    0.894872   0.533937  0.372083
2         0.102326  0.894737   0.452381    0.835897   0.529412  0.572848
3         0.104651  0.894737   0.428571    0.776923   0.524887  0.908261
4         0.106977  0.894737   0.404762    0.717949   0.520362  0.201611
...            ...       ...        ...         ...        ...       ...
19730     0.602326  0.416667   0.238095    0.348718   0.901961  0.861981
19731     0.602326  0.421053   0.250000    0.361538   0.900452  0.985726
19732     0.602326  0.425439   0.261905    0.374359   0.898944  0.583979
19733     0.602326  0.429825   0.273810    0.387179   0.897436  0.126371
19734     0.602326  0.434211   0.285714    0.400000   0.895928  0.682391

            rv2
0      0.265449
1      0.372083
2      0.572848
3      0.908261
4      0.201611
...         ...
19730  0.861981
19731  0.985726
19732  0.583979
19733  0.126371
19734  0.682391

[19735 rows x 28 columns]

In [ ]:
scaled_df.drop(columns='lights', axis=1)

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.327350,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,0.381691,0.381070,0.841827,0.170594,0.653428,0.173329,0.661412,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.327350,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,0.381691,0.375443,0.839872,0.170594,0.651064,0.173329,0.660155,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.327350,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,0.380037,0.367487,0.830704,0.170594,0.646572,0.173329,0.655586,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.327350,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,0.380037,0.363800,0.833401,0.164310,0.641489,0.164175,0.650788,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.327350,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,0.380037,0.361859,0.848264,0.170594,0.639362,0.164175,0.650788,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,0.084112,0.926786,0.537657,0.711655,0.606309,0.830841,0.579374,0.864865,0.765258,0.752031,0.339590,0.898317,0.000000,0.858624,0.755319,0.768386,0.701645,0.864724,0.729443,0.891747,0.602326,0.416667,0.238095,0.348718,0.901961,0.861981,0.861981
19731,0.074766,0.919747,0.536006,0.701769,0.607836,0.825302,0.582178,0.864865,0.765258,0.754897,0.338487,0.880852,0.000000,0.864010,0.752280,0.768386,0.691912,0.864724,0.729443,0.887460,0.602326,0.421053,0.250000,0.361538,0.900452,0.985726,0.985726
19732,0.242991,0.919747,0.538666,0.692651,0.627198,0.818378,0.603988,0.864865,0.771233,0.754897,0.337585,0.864260,0.000000,0.862394,0.751773,0.768386,0.687457,0.864724,0.729443,0.883173,0.602326,0.425439,0.261905,0.374359,0.898944,0.583979,0.583979
19733,0.383178,0.919747,0.549491,0.677054,0.634717,0.805085,0.585294,0.864865,0.773794,0.752031,0.336583,0.829525,0.000000,0.858624,0.748075,0.764953,0.682617,0.864724,0.730581,0.878885,0.602326,0.429825,0.273810,0.387179,0.897436,0.126371,0.126371
19734,0.392523,0.919747,0.538758,0.666171,0.632902,0.799546,0.579062,0.864865,0.781192,0.752031,0.336583,0.788580,0.000000,0.858624,0.739504,0.771681,0.690062,0.864724,0.731719,0.874598,0.602326,0.434211,0.285714,0.400000,0.895928,0.682391,0.682391

In [ ]:
scaled_df = scaled_df.round(2)

In [ ]:
y=scaled_df['Appliances']
x=scaled_df.drop(columns = ['Appliances'], axis=1)

In [ ]:
#splitting the data into 80/20 ration
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=3)

In [ ]:
#Define the model
linear_model = LinearRegression()

#fit our model
linear_model.fit(x_train, y_train)

#prediction
y_pred = linear_model.predict(x_test)

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)  # Calculate RMSE from MSE
r2 = r2_score(y_test, y_pred)

# Print the metrics
print("Mean Absolute Error:", mae)
print("Mean Squared Error:", mse)
print("Root Mean Squared Error:", rmse)
print("R^2 Score:", r2)

Mean Absolute Error: 0.04785834601725553
Mean Squared Error: 0.007315432632693797
Root Mean Squared Error: 0.08553030242372464
R^2 Score: 0.1513291651031683

In [ ]:
from sklearn.linear_model import Lasso

In [ ]:
lasso_model=Lasso(alpha=0.1)
lasso_model.fit(x_train,y_train)

y_pred_l1=lasso_model.predict(x_test)

In [ ]:
mae_L1 = mean_absolute_error(y_test, y_pred_l1)
mse_L1 = mean_squared_error(y_test, y_pred_l1)
rmse_L1 = mean_squared_error(y_test, y_pred_l1, squared=False)  # Calculate RMSE from MSE
r2_L1 = r2_score(y_test, y_pred_l1)

# Print the metrics
print("Mean Absolute Error L1:", mae_L1)
print("Mean Squared Error L1:", mse_L1)
print("Root Mean Squared Error L1:", rmse_L1)
print("R^2 Score L1:", r2_L1)

Mean Absolute Error L1: 0.054873803735574406
Mean Squared Error L1: 0.008623793276254302
Root Mean Squared Error L1: 0.09286438109552178
R^2 Score L1: -0.0004550936642826464

In [ ]:
from sklearn.linear_model import Ridge
rigde_model=Ridge(alpha=0.1)
rigde_model.fit(x_train,y_train)

y_pred_l2=rigde_model.predict(x_test)

mae_L2 = mean_absolute_error(y_test, y_pred_l2)
mse_L2 = mean_squared_error(y_test, y_pred_l2)
rmse_L2 = mean_squared_error(y_test, y_pred_l2, squared=False)  # Calculate RMSE from MSE
r2_L2 = r2_score(y_test, y_pred_l2)

# Print the metrics
print("Mean Absolute Error L2:", mae_L2)
print("Mean Squared Error L2:", mse_L2)
print("Root Mean Squared Error L2:", rmse_L2)
print("R^2 Score L2:", r2_L2)

Mean Absolute Error L2: 0.04784935540272293
Mean Squared Error L2: 0.007316490645829039
Root Mean Squared Error L2: 0.08553648721936762
R^2 Score L2: 0.15120642391533967

In [ ]:
from sklearn.linear_model import ElasticNet

EN_model=ElasticNet(alpha=0.2)

EN_model.fit(x_train,y_train)

y_pred_en=EN_model.predict(x_test)

mae_EN = mean_absolute_error(y_test, y_pred_en)
mse_EN = mean_squared_error(y_test, y_pred_en)
rmse_EN = mean_squared_error(y_test, y_pred_en, squared=False)  # Calculate RMSE from MSE
r2_EN = r2_score(y_test, y_pred_en)

# Print the metrics
print("Mean Absolute Error EN:", mae_EN)
print("Mean Squared Error EN:", mse_EN)
print("Root Mean Squared Error L2:", rmse_EN)
print("R^2 Score EN:", r2_EN)

Mean Absolute Error EN: 0.054873803735574406
Mean Squared Error EN: 0.008623793276254302
Root Mean Squared Error L2: 0.09286438109552178
R^2 Score EN: -0.0004550936642826464

Q17  From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the Root Mean Squared error in three D.P?

In [ ]:
#let assign x to T2 and y to T6

x = df["T2"]
y = df["T6"]

#in order to fit our linear model, we have to reshape our x variable

arr = np.array(x)
x_feature = arr.reshape(-1, 1)

In [ ]:
#we can now split our data into train and test set

x_train, x_test, y_train, y_test = train_test_split(x_feature, y, train_size=0.7, test_size = 0.3, random_state=42)

#Define our model
linear_m = LinearRegression()

#fit the model
linear_m.fit(x_train, y_train)

#predict the model
preds = linear_m.predict(x_test)

In [ ]:
#finally, we can now compute for R_squared value


mse= mean_squared_error(y_test, preds)
rmse = mean_squared_error(y_test, preds, squared=False)  # Calculate RMSE from MSE
print('The value of R_squared is :', round(rmse, 3))

The value of R_squared is : 3.63

Q18  Remove the following columns: [date, lights]. The target variable is Appliances. Use a 70-30 train-test set split with a  random state of 42 (for reproducibility). Normalize the dataset using the MinMaxScaler (Hint: Use the MinMaxScaler fit_transform and transform methods on the train and test set respectively). Run a multiple linear regression using the training set. Answer the following questions:

What is the Mean Absolute Error (in three decimal places) for the  training set?

In [ ]:
# Transform the DataFrame using the fitted scaler
scaled_data = scaler.transform(df)

# Convert the scaled data back to a DataFrame
scaled_df = pd.DataFrame(scaled_data, columns=df.columns)

y=scaled_df['Appliances']
x=scaled_df.drop(columns = ['Appliances'], axis=1)

In [ ]:
#splitting the data into 80/20 ration
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [ ]:
#Define the model
linear_model = LinearRegression()

#fit our model
linear_model.fit(x_train, y_train)

#prediction_test
y_pred = linear_model.predict(x_test)

#prediction_train
y_pred_train = linear_model.predict(x_train)

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)  # Calculate RMSE from MSE
r2 = r2_score(y_test, y_pred)

# Print the metrics
print("Mean Absolute Error:", mae)
print("Mean Squared Error:", mse)
print("Root Mean Squared Error:", rmse)
print("R^2 Score:", r2)

Mean Absolute Error: 0.04946297876607529
Mean Squared Error: 0.007493792595795055
Root Mean Squared Error: 0.08656669449502537
R^2 Score: 0.1672369015716163

In [ ]:

# Assuming y_train is the actual target values for the training set,
# and y_pred_train is the predicted target values for the training set.

mae_train = mean_absolute_error(y_train, y_pred_train)
mse_train = mean_squared_error(y_train, y_pred_train)
rmse_train = mean_squared_error(y_train, y_pred_train, squared=False)  # Calculate RMSE from MSE
r2_train = r2_score(y_train, y_pred_train)

# Print the metrics for training data
print("Mean Absolute Error (Training):", mae_train)
print("Mean Squared Error (Training):", mse_train)
print("Root Mean Squared Error (Training):", rmse_train)
print("R^2 Score (Training):", r2_train)

Mean Absolute Error (Training): 0.04955899348153376
Mean Squared Error (Training): 0.007747319671121478
Root Mean Squared Error (Training): 0.08801885974676948
R^2 Score (Training): 0.1632207963254073

Q19What is the Root Mean Squared Error (in three decimal places) for the training set?

In [ ]:
r2 = r2_score(y_test, preds)

In [ ]:
print("Root Mean Squared Error:", round(r2,3))

Root Mean Squared Error: -9423.122

Q20 What is the Mean Absolute Error (in three decimal places) for test set?

Q21 What is the Root Mean Squared Error (in three decimal places) for test set?

Q22

Q23 Train a ridge regression model with default parameters. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [ ]:
from sklearn.linear_model import Ridge
rigde_model=Ridge(alpha=0.1)
rigde_model.fit(x_train,y_train)

y_pred_l2=rigde_model.predict(x_test)

mae_L2 = mean_absolute_error(y_test, y_pred_l2)
mse_L2 = mean_squared_error(y_test, y_pred_l2)
rmse_L2 = mean_squared_error(y_test, y_pred_l2, squared=False)  # Calculate RMSE from MSE
r2_L2 = r2_score(y_test, y_pred_l2)

# Print the metrics
print("Mean Absolute Error L2:", mae_L2)
print("Mean Squared Error L2:", mse_L2)
print("Root Mean Squared Error L2:", rmse_L2)
print("R^2 Score L2:", r2_L2)

Mean Absolute Error L2: 0.049447876173655626
Mean Squared Error L2: 0.00749426967680185
Root Mean Squared Error L2: 0.08656945002021123
R^2 Score L2: 0.16718388496455905

Q24 Train a lasso regression model with default value and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [ ]:
#Lesson Regression model with alpha = 0.001

#Define the model
lasso_reg = Lasso(alpha=0.001)

#fit the model
lasso_reg.fit(x_train, y_train)

#predict the model
l1_pred = lasso_reg.predict(x_test)

In [ ]:
# Get the feature weights
feature_weights = lasso_reg.coef_

print(feature_weights)
# Count the number of non-zero feature weights
non_zero_features = np.sum(feature_weights != 0)

# Print the number of non-zero feature weights
print("Number of non-zero feature weights:", round(non_zero_features,5))

[ 0.09476557  0.          0.00992157  0.         -0.          0.
  0.         -0.          0.         -0.          0.          0.00035431
 -0.         -0.         -0.          0.         -0.         -0.
 -0.          0.         -0.         -0.05251875  0.          0.
  0.          0.          0.        ]
Number of non-zero feature weights: 4

Q25 What is the new RMSE with the Lasso Regression on the test set?

In [ ]:
mae_L1 = mean_absolute_error(y_test, y_pred_l1)
mse_L1 = mean_squared_error(y_test, y_pred_l1)
rmse_L1 = mean_squared_error(y_test, y_pred_l1, squared=False)  # Calculate RMSE from MSE
r2_L1 = r2_score(y_test, y_pred_l1)

# Print the metrics
print("Mean Absolute Error L1:", mae_L1)
print("Mean Squared Error L1:", mse_L1)
print("Root Mean Squared Error L1:", rmse_L1)
print("R^2 Score L1:", r2_L1)

Mean Absolute Error L1: 0.05652328012499732
Mean Squared Error L1: 0.008998719149892167
Root Mean Squared Error L1: 0.09486157889204758
R^2 Score L1: -1.1536689688007584e-06